[2013-08-15 21:17] bjmc opened #2 "Adding record/playback functionality?"
I'd like to be able to incorporate Mocket with a project like [vcrpy](https://github.com/kevin1024/vcrpy) ([see also](https://github.com/kevin1024/vcrpy/issues/8)) in order to be able to automatically save stored responses for use in tests.

Is this a feature that you'd like to see added to Mocket itself, or do you think I should just import and use Mocket as part of a separate wrapper library?

[2013-08-21 05:00] bjmc opened #3 "MocketSocket doesn't support SSL connections"
It looks like MocketSocket can't be wrapped completely by `SSLSocket`

[code]

[2014-03-27 16:38] mindflayer opened #4 "Binary body"
We need to find a way to serve binary files.

[code]

[2014-04-01 15:31] #4 closed, assigned to nobody

[2014-07-17 17:45] clintonb opened #9 "Add Documentation"
You link to a 37 minute long video. While the video may hold useful information, few will spend time viewing it.

[2014-08-22 06:59] glandium opened #10 "Simple use of MocketEntry broken"
Commit 37e1783a8cdad8b1eafbc31ff792ac0460393b10 changed MocketEntry.get_response to return response.data instead of str(response), and that doesn't work in the simple case where response_cls is str, like in the example from the presentation:

MocketEntry(('localhost', 8080), ['Show me.\r\n'])

[2014-08-22 16:44] glandium opened #12 "mockhttp.Request doesn't like e.g. application/octet-stream contents"
When a received request is e.g. a PUT with application/octet-stream with raw non-ascii data, using mockhttp fails on this line:
_, self.body = decode_utf8(data).split('\r\n\r\n', 1)

[2014-08-30 05:12] glandium opened #13 "mockhttp.Entry.can_handle doesn't take method into account"
if there are two Entries with the same path but one handling e.g. GET and the other POST/PUT, only one of the Entries will ever be returned.

[2014-08-30 05:14] glandium opened #14 "mockhttp.Entry.collect can't really handle more than one request properly"
mockhttp.Entry.collect does this:
    self._sent_data += data
    return super(Entry, self).collect(self._sent_data)

which means that apart from the first request, all subsequent requests are actually going to be using the first request headers, and the other requests as body data.

[2014-08-30 05:43] glandium opened #15 "Subclassing mockhttp.Entry requires re-implementing Entry.register/single_register"
class Foo(mockhttp.Entry):
    pass

Foo.register(...) calls Mocket.register with a new Entry instance instead of Foo.

[2015-04-20 08:06] mindflayer opened #16 ".shutdown() of the socket is not available"
We need to add shutdown method to mocket.py.

[2015-06-01 18:04] #10 closed

[2015-06-03 14:19] mindflayer commented on #10
I know it's really late. Solved in 1.2.4 version, btw.

[2015-06-03 14:20] #16 closed

[2015-09-05 19:23] mrname opened #20 "Documentation..... is there any?"
This looks super helpful, but I cannot find any docs or examples anywhere. Am I missing something?

[2015-09-06 07:50] mindflayer commented on #20
Hi there, we already wrote many tests you can definitely use as examples.
Regards,
Giorgio

[2016-01-25 09:02] mindflayer opened #24 "Mocket works only in test classes"
If I try to use it in a single test function:

[code]

it fails with the following error:

[code]

[2016-01-26 08:53] #24 closed

[2016-01-26 14:49] mindflayer commented on #12
I know it's been more than a year, but I'm back working on mocket.
I think I solved this issue when I added the support for file handlers. Have a look at this test:
https://github.com/mocketize/python-mocket/blob/master/tests/test_http.py#L143

[2016-01-26 14:50] #12 closed

[2016-01-26 15:42] mindflayer commented on #13
Fixed on master.

[2016-01-26 15:42] #13 closed

[2016-01-26 15:43] mindflayer commented on #14
I think it should be fixed as well with my last merge.

[2016-01-26 15:43] #14 closed

[2016-09-13 19:22] thedrow opened #30 "Support for gevent sockets"
I don't see any tests involving gevent.
Are gevent sockets supported?

[2016-09-13 19:58] mindflayer commented on #30
Hi @thedrow, I've just run the tests adding
[code]
on top of _tests/test_http.py_ and they all succeeded.

[2016-09-13 21:07] thedrow commented on #30
Yes it looks like it works. It might be worth adding to the test suite somehow though.

[2016-09-14 12:52] mindflayer commented on #30
I had no doubts, by the way, since protocol does not change. :)

[2016-09-14 12:52] #30 closed

[2016-10-18 19:05] mindflayer commented on #15
Fixed in version `1.3.4`.

[2016-10-18 19:05] #15 closed

[2016-12-02 15:53] mindflayer commented on #30
Adding `gevent` tests to `master` with #35 .

[2016-12-17 01:00] mindflayer opened #37 "AsyncIO support (+aiohttp)"
Mocket should support `asyncio` and `aiohttp`.
Tests should only run on Python >= 3.5.

[2016-12-17 01:01] mindflayer commented on #37
Support will be added with #36

[2016-12-17 18:08] #37 closed

[2016-12-29 16:59] #3 closed, assigned to nobody

[2016-12-29 17:20] bjmc commented on #3
Thanks! :champagne:

[2016-12-29 17:25] mindflayer commented on #3
@bjmc are you still using _mocket_?

[2016-12-29 17:31] bjmc commented on #3
Unfortunately, no. Without this feature, it wasn't helpful for me. I might have another look at it, now, but the project for which I was originally considering `mocket` has ended.

[2016-12-29 17:39] mindflayer commented on #3
I know it took forever, and I am really sorry.
Said this, the only big thing missing is now the documentation, but I would like to invest time on showing how to mock something non-HTTP. On the other side, the last releases are supporting sockets on _gevent_, _asyncio_/_aiohttp_ and _pypy_.

[2017-01-29 14:05] mindflayer opened #41 "Add 'pook' integration"
As result of a discussion I had on the `pook`'s GitHub (at https://github.com/h2non/pook/issues/33), I am going to add a `pook.engine.MockEngine` that will support `Mocket`.

[2017-01-29 15:22] #41 closed

[2017-02-13 16:28] mindflayer commented on #2
Just merged #43. I will write a blog-post in the next days presenting the last changes, with of course the recording feature.

[2017-02-13 16:28] #2 closed

[2017-03-26 12:37] mindflayer opened #51 "Mocket does not support aiohttp>=2"
See https://travis-ci.org/mindflayer/python-mocket/builds/215230086

[2017-03-30 11:08] mindflayer commented on #51
See https://travis-ci.org/mindflayer/python-mocket/builds/215230086

[2017-04-06 08:47] saksham-kumar commented on #9
The explanation is not clear.
"for all kinds of socket animals, web-clients included - with gevent/asyncio/SSL support"
doesn't explain what mocket does.

[2017-04-06 11:24] mindflayer commented on #9
Hi @saksham-kumar, there are a couple of blog posts I've written recently that should help:
https://medium.com/@mindflayer/mocket-is-alive-and-is-fighting-with-us-b2810d52597a
https://hackernoon.com/make-development-great-again-faab769d264e#.pokdigch1

The README published here should also help.

[2017-04-29 09:38] mindflayer commented on #51
I am starting to think that the problem is more on aiohttp side, because I've found some other libraries with the same problem after the upgrade to version 2.

[2017-05-26 01:34] wen-aa opened #54 "Mocket can't mock writing compressed data by zlib"
I tried to use Mocket to mock redis and write the compressed data, it threw this error.

[code]

[2017-05-26 05:40] mindflayer commented on #54
In your example the problem is that you are trying to decode something
which is not Unicode, so you would have to specify the right 'encoding'.
But I feel like this is not the real problem you are experiencing.
May you open a pull request adding a test with a small example of what you
want to do?
Or at least comment here with a snippet which fails with this error.

Please note I'll be travelling d

[2017-05-29 06:12] mindflayer commented on #54
Any step forward, @wen-aa?

[2017-06-03 21:22] mindflayer commented on #54
I'm going to close this issue. Please reopen it if you feel like there's something more to discuss.

[2017-06-03 21:22] #54 closed

[2017-06-04 12:02] mindflayer commented on #51
Almost done with today's merge of #55. HTTPS still not working and I need to understand why.

[2017-08-27 20:09] mindflayer commented on #51
Finally closed with #56

[2017-08-27 20:09] #51 closed

[2017-10-14 07:22] #9 closed

[2017-10-15 16:46] mindflayer opened #60 "Mocket should offer HTTPretty users a simple way to switch to it"

[2017-10-15 19:25] #60 closed

[2017-11-15 07:42] item4 opened #61 "Question: Can I test websocket things?"
Can I test websocket things such as aiohttp websocket client?

[2017-11-15 07:48] mindflayer commented on #61
Any protocol based on socket can be tested with it.

[2017-11-15 07:49] item4 commented on #61
I can not find about this. Where I can see docs?

[2017-11-15 07:52] mindflayer commented on #61
I have never experimented with WebSockets, just saying it's something you can achieve with Mocket.

[2017-11-15 07:59] item4 commented on #61
OK. I'll read code of Mocket and try test websocket things. Regardless how it ends up, I will write after story at this issue.

[2017-11-15 08:28] mindflayer commented on #61
Of course feel free to ask for help, and I will do my best to support you.

[2017-11-16 11:23] item4 commented on #61
[code]

I was defeated. `Mocket.last_request()` is empty. I need header of last request for return `Sec-Websocket-Accept` but I can not get header.

[2017-11-16 11:49] mindflayer commented on #61
I am not sure I got the purpose of your implementation of `WebsocketResponse`.`data`.

[2017-11-16 12:16] item4 commented on #61
websocket require handshaking with client. without mocking os.urandom, I can not get `Sec-Websocket-Key` from request.

[2017-11-16 14:22] mindflayer commented on #61
I will have a look at it, since I'll be on holiday for the next two weeks.

[2017-11-16 14:26] mindflayer commented on #61
If you wanna try something before, I suggest you to start recording a client/server session with `Mocket` and its `vcrpy`-ish feature.
@item4, have a look at https://github.com/mindflayer/python-mocket/blob/master/tests/main/test_http.py#L39

[2017-11-18 11:01] item4 commented on #61
I need to make dynamic result.

1. Client send sec_key via Sec-Websocket-Key header to server (sec_key is random value)
2. Server response sec_accept(sign by sec_key) via Sec-Websocket-Accept to client (this response contain some headers such as `Upgrade: websocket`, `Connection: upgrade`)
3. Client verify sec_key and sec_accept.
4. Client use http connect to websocket

[2017-11-18 11:05] item4 commented on #61
`truesocket_recording_dir` do record **response**, do not **request**. I need request header.

[2017-12-11 15:51] mindflayer commented on #61
Sorry but it's been a tough period at home and I had no chance to look into it. It's true that `Mocket` was never design to consume the request but only to provide the correct responses. I'll see what I can do.

[2018-01-04 16:25] dustinfarris opened #62 "Real sendall for HTTPS requests not working"
I am using Python 3.6.4 and getting this error when I try to use mocket:

[code]

[2018-01-04 16:35] mindflayer commented on #62
Hi @dustinfarris, could you please be more specific?
What are you trying to do?
Or better, are you able to create a snippet where `mocket` crashes in that way?

[2018-01-04 16:40] mindflayer commented on #62
So, I've just tried to run the test suite with Python 3.6.4 and it succeeded. I definitely need more information. :)

[2018-01-04 18:17] mindflayer commented on #62
Are you able to write a small snippet which makes it fail? If so I will add it as test and start working maybe even tonight/tomorrow.

[2018-01-04 19:17] dustinfarris commented on #62
This isn't a bug actually, sorry.  See #63 for an explanation.

[2018-01-04 19:39] mindflayer commented on #62
Now that I see it, the problem is much more clear and I am already aware about it. It is definitely a bug, because `Mocket` should call the real `sendall` and do the job for you every time there is a connection which you don't want to mock.
Basically, SSL sockets are not working like we expect, and I am trying to fix it on this branch:
https://github.com/mindflayer/python-mocket/tree/ssl-fix

[2018-02-15 02:21] kennydo opened #65 "Mocking https connections fails when pyOpenSSL is installed"
If I `pip install pyOpenSSL==17.5.0` and then run the `pytest tests/main/test_https.py`, I get an exception that looks like this:
[code]

urllib3 does some things differently when it detects that the OpenSSL module is available. I found prior art in getting mocking of pyOpenSSL in HTTPretty (https://github.com/gabrielfalcao/HTTPretty/pull/215/files) but it looks pretty gnarly.

Is adding support f

[2018-02-15 09:31] mindflayer commented on #65
Actually I was not aware of the problem, so it was not on the road-map. Thank you for the notice.
Let me see if I can apply a similar approach.

[2018-02-19 13:57] sjaensch opened #66 "Properly handle requests that do multiple writes (e.g. by aiohttp 3)"
The aiohttp client in version 3 does (at least) two writes if the request has a body: one for the headers, a second for the body. This was done in aio-libs/aiohttp#2126 and is documented in the "Are there changes in behavior for the user?" section of the description. Check out the [diff of the write_headers function](https://github.com/aio-libs/aiohttp/commit/bbf62184929f8f4ae36ad417005b5f9dad4d9e

[2018-02-20 08:27] mindflayer commented on #66
Thank you very much for the contribution. I'll have a look at that as soon as possible.

[2018-02-24 19:36] mindflayer commented on #66
Hi @sjaensch, I did `pip install -U aiohttp` ending up with a virtualenv using version `aiohttp-3.0.2` and I was able to run all the `Mocket` tests. Also, if I look at the two failing tests in your code, I don't see you actually enabled `Mocket` as I do at this line:
https://github.com/mindflayer/python-mocket/blob/master/tests/tests35/test_http_aiohttp.py#L60

[2018-02-24 20:44] mindflayer commented on #65
Hi @kennydo, I was looking at the PR from `HTTPretty` and the problem with that approach is that `AttributeError: module 'socket' has no attribute '_fileobject'`.

[2018-02-25 13:09] sjaensch commented on #66
@mindflayer Mocket is enabled with this fixture: https://github.com/sjaensch/aiobravado/blob/dfacf2655053f765d832f50adff4659a79a3063d/tests/functional/conftest.py#L74

There are several other tests that use Mocket and continue to pass. Note that the two tests in question also pass if you use aiohttp<3.0. The fact that Mocket tests pass with aiohttp 3.0.2 tells me that this case is not covered by y

[2018-02-25 15:38] mindflayer commented on #66
Hi @sjaensch, could you try to run your tests using this branch (https://github.com/mindflayer/python-mocket/tree/body-via-send)?

[2018-02-25 16:06] sjaensch commented on #66
@mindflayer awesome! Both tests pass if I use that branch, well done!

[2018-02-25 16:19] mindflayer commented on #66
Here you are: https://pypi.python.org/pypi/mocket/2.2.0

[2018-02-26 09:51] mindflayer commented on #66
Here you are: https://pypi.python.org/pypi/mocket/2.2.0

[2018-02-26 09:51] #66 closed

[2018-02-27 02:02] sjaensch opened #68 "Updating a request deletes the newest entry from the request list"
Unfortunately, #67 doesn't work correctly after all. This small change to the test illustrates the issue:

[code]

The problem is that once the body data gets collected, the call to can_handle() causes the last request to be removed from the list and the body to be appended to the request before the last:
https://github.com/mindflayer/python-mocket/blob/master/mocket/mockhttp.py#L137

The assertio

[2018-03-08 17:32] ohenrik commented on #65
@mindflayer have you looked anymore at a possible solution to this. It is impossible for me to use mocket at the moment since my project relies on pyopenssl through authobahn. So i cannot run my tests.

[2018-03-08 22:02] mindflayer commented on #65
Hi @ohenrik, I spent some time trying to figure out how to do it but I did not find any feasible solution. I am also trying to fix #68, so feel free to take it, if you are willing to.

[2018-03-13 21:00] mindflayer commented on #68
@sjaensch, sorry for the late reply but I spent a bit trying to find a safe way of solving this issue.
Could you please verify that this patch solves your use-case?

[2018-03-15 17:03] mindflayer commented on #68
I think I am going to merge it soon-ish, anyway. It's a bug and it seems to be fixed with the PR I mentioned.

[2018-03-16 15:40] mindflayer commented on #68
Hi @sjaensch, this commit should fix it:
https://github.com/mindflayer/python-mocket/pull/70/commits/4089495f319fa15a82ed730994673aa11371d791

[2018-03-16 17:01] mindflayer commented on #68
Enjoy it!
`pip install -U mocket`

[2018-03-16 17:01] #68 closed

[2018-07-02 19:24] willmcgugan opened #71 "No recv_into ?"
Hi,

I recently switched my code to using `recv_into`, which broke my tests that use mocket. Does mocket support recv_into ? A quick look at the code suggests it doesn't.

[2018-07-02 22:41] mindflayer commented on #71
Let me see what I can do. :)

[2018-07-03 18:24] mindflayer commented on #71
@willmcgugan, could you please test this branch?

[2018-07-10 18:08] #71 closed

[2018-08-02 15:29] #65 closed

[2018-08-02 15:30] mindflayer commented on #65
The issue has been solved, sorry for being able to work on it after months.

[2018-08-05 13:47] asmodehn opened #74 "How about mocking sockets with trio ?"
Using mocket with trio, I get :
[code]

Is there any known way for this to work ?

[2018-08-06 07:44] mindflayer commented on #74
Please add more information, maybe a few line you are using for testing that case. I am not familiar with `trio`. From what I can infer, it seems they did not implement their module with `duck typing` in mind.

[2018-08-06 08:52] asmodehn commented on #74
I think so, it's probably more following the modern python3 gradual typing mindset...

I am using https://github.com/theelous3/asks (asynchronous http client lib) to test it (I'm trying to mock sockets in there) and I made this quick script for checking:
[code]

It crashes, probably because :
[code]
More investigation is needed here, but I guess my question becomes, couldn't 'MockerSocket' be a us

[2018-08-06 09:15] mindflayer commented on #74
Thanks for the hint. Actually, imho -of course-, there is no reason to check the type when dealing with `socket` objects, since there is one and only one implementation of that in the Python world, and the result is `just` breaking all the mocking libraries using the approach I used (`httpretty to name another one, even more popular than `mocket`).
Out of curiosity, I've just tried to run the test

[2018-08-06 09:19] mindflayer commented on #74
Just to add an information, `mocket` is compliant with popular asyncio libraries ad `aiohttp`. You can verify it easily from the test suite, so the issue title is definitely wrong.

[2018-08-06 09:37] asmodehn commented on #74
Oh thank I hadn't notice that, it's a good reference.
I'll have a look and compare trio and asyncio for this usecase...

[2018-08-06 10:34] mindflayer commented on #74
Thank you very much for your contribution. I am not 100% sure I should do something to make `MocketSocket` inheriting from `socket.socket`. I see it as quite dangerous, complicating the debugging of possible issues due to the fact that `MocketSocket` acts as a `socket` following the `duck typing` principles. I would invest more time in advocating the removal of this check in those libraries.

[2018-08-16 09:58] DeoLeung opened #76 "mock pycurl"
[code]

is it possible to mocke `pycurl`?

[2018-08-16 10:06] mindflayer commented on #76
What happens if you run the test?

[2018-08-21 02:55] njsmith commented on #74
Hey, main author of Trio here. I wrote some more notes here: https://github.com/python-trio/trio/issues/170#issuecomment-410907876

Trio does check that the sockets you pass in are `socket.socket` objects – this is to avoid things like allowing a `ssl.socket`, which is a subclass of `socket.socket` but with different and incompatible behavior (from the point of view of an async library like trio).

[2018-08-22 12:02] mindflayer commented on #76
No feedback, closing it. Feel free to open a new issue, maybe with more information.

[2018-08-22 12:02] #76 closed

[2018-09-04 16:04] bradwood commented on #20
It's a real shame there are no docs on this. Not even docstrings... And the tests aren't commented either... I've been trying with this lib for a while now, but, I think I'm going to have to give up...

[2018-09-04 19:06] mindflayer commented on #20
@bradwood May I help you?

[2018-09-07 08:51] mindflayer commented on #20
OK, since there is nothing productive here, I am going to close it again. Feel free to open an issue with a real problem, if possible after reading the `README` where you'll find some examples.

[2018-09-07 08:51] #20 closed

[2018-11-21 21:02] sentry0 opened #79 "Problem related to SSL and Python 3.7"
I'm attempting to use Mocket in an application that needs to retrieve an auth token using REST call to a remote endpoint.  This call is throwing the following error:
[code]
Everything works fine without Mocket.enable() being called, as soon as I enable it the program will crash with that error.

Any idea what I need to do to get Mocket working?

[2018-11-22 05:42] mindflayer commented on #79
Hi @sentry0, are you able to produce a code snippet which fails with the same error? In that case I'd be able to debug the problem and try to fix it.

[2018-12-12 10:05] mindflayer commented on #79
No info provided, in case feel free to open a new issue.

[2018-12-12 13:57] thedrow opened #80 "md5 hashing is slow"
In https://github.com/mindflayer/python-mocket/blob/master/mocket/mocket.py#L265 we hash the response so we'll have a key. Using md5 to do so is slower than what can be done.
There are more modern hashing algorithms such as [xxhash](https://github.com/Cyan4973/xxHash).
Would you accept a PR that replaces MD5 with a non-cryptographic hash function?

[2018-12-12 14:14] mindflayer commented on #80
Is it a real issue for your use-case? I am only concerned about introducing a breaking change, but I understand the value of it.

[2018-12-12 14:38] mindflayer commented on #80
Also, whenever a user provides a JSON dump file, I would still look for the MD5 hash in case of a `KeyError`, to avoid CI pipelines already in place.

[2018-12-19 12:19] tmbo opened #81 "Make magic dependency optional"
Installing the library using `pip install mocket` will lead to an exception if libmagic is not installed:

[code]

I checked the code, and although I see that it is nice to unburdon the user from specifying the response content type, but it is also kind of annoying to burdon everyone with installing libmagic.

Can we make that dependency optional? (otherwise I can't add this as a dependency to htt

[2018-12-19 14:40] mindflayer commented on #81
Let me see what I can do. :+1:

[2018-12-19 15:41] tmbo commented on #81
Looks good and should do the job :rocket:

[2018-12-19 15:42] mindflayer commented on #81
I'll be releasing a new version with that change in a few hours.

On Wed, 19 Dec 2018, 16:41 Tom Bocklisch <notifications@github.com wrote:

[2018-12-19 18:20] mindflayer commented on #81
Here is `mocket==2.5.0`: https://pypi.org/project/mocket/2.5.0/

[2018-12-21 10:54] mindflayer commented on #81
Hi @tmbo, I am closing the issue, feel free to re-open it if you need additional support.

[2018-12-21 10:54] #81 closed

[2018-12-22 10:07] mindflayer commented on #80
@thedrow still thinking about doing the change, right? No hurry, I am not pushing, just asking. :)

[2018-12-23 08:55] thedrow commented on #80
Yeh.
I'll make the time for it.

[2019-01-01 10:11] thedrow commented on #79
This happens on Python 3.7.
Also see https://github.com/gabrielfalcao/HTTPretty/issues/337

[2019-01-01 10:44] mindflayer commented on #79
Thanks, @thedrow.

[2019-01-01 15:33] mindflayer commented on #80
https://pypi.org/project/mocket/2.6.0/

https://github.com/mindflayer/python-mocket/#speedups

[2019-01-01 15:33] #80 closed

[2019-01-02 11:37] #61 closed

[2019-03-14 07:54] hulucc opened #85 "redis.exceptions.ConnectionError: Connection not ready with redis==3.2.0"

[2019-03-14 08:04] mindflayer commented on #85
Can you add more details? Python 3.6 is supposed to work with `mocket`.

[2019-03-14 08:31] hulucc commented on #85
![image](https://user-images.githubusercontent.com/4343900/54342082-8603ec00-4676-11e9-8d01-10be37d1a244.png)
![image](https://user-images.githubusercontent.com/4343900/54342093-8ef4bd80-4676-11e9-99fb-bd82f39c2d97.png)

[2019-03-14 08:35] mindflayer commented on #85
I will have a look at it, but what is the purpose of mocking `FLUSHDB`?

[2019-03-14 09:44] mindflayer commented on #85
So, the problem has something to do with the latest update of `redis`.
[code]

[2019-03-17 15:25] ekor15 commented on #79
same here - simple code to reproduce:

[code]

[code]

[2019-04-02 20:18] #74 closed

[2019-04-02 21:14] #62 closed

[2019-04-05 16:18] nguyendv opened #89 "Test file only failing if run alone"
Here's the code snippet:

[code]

Exception:
[code]

OS: Ubuntu 18.10
Python version: 3.5.6, 3.6.7, 3.7.1
mocket version: 2.7.1

[2019-04-05 18:02] mindflayer commented on #89
It's very curious the fact that the test is not failing when part of the suite. Anyway, I'm releasing a new version with the hotfix.

[2019-04-05 18:14] mindflayer commented on #89
Here it is: https://pypi.org/project/mocket/2.7.2/

[2019-04-05 18:14] #89 closed

[2019-04-23 08:30] WisdomPill opened #91 "Query params should not need to be encoded in url"
First of all, thank you for your amazing job building this library.

I translated all my previous tests using httpretty to python rocket because the former seems to not be maintained as it supposed to.

The transition was very easy but I have to point out some small stuff, first of all there's no Mocket.has_request(), but this is minor and I understand you you would not include it.

But I found an

[2019-04-23 08:36] mindflayer commented on #91
If I understand your problem, `mocket` already provides a solution for that called `match_querystring`, have a look at:
https://github.com/mindflayer/python-mocket/blob/ed530d01a86f412814e908cf803db9f570877e00/mocket/mockhttp.py#L101

[2019-04-23 08:40] WisdomPill commented on #91
That was fast.

Well, thank you, that's what I was looking for, maybe it's a good idea to put some documentation then.

Is there any docs? If you want I can definitely help with that

[2019-04-23 08:42] mindflayer commented on #91
Well, the documentation is the weakest part of the whole project and I'd love to merge PRs related to that. :)

[2019-04-23 08:55] mindflayer commented on #91
Let me know if it works for you, so I can close the issue.

[2019-04-23 09:01] WisdomPill commented on #91
Yes, it works, thanks, I will definitely start on reading on how to use readthedocs for the documentation

[2019-04-23 09:03] #91 closed

[2019-06-14 07:31] kpradhan-cs opened #94 "Mocket can't mock zip or image file upload"
By following the readme file, I tried to use Mocket to mock zip and image file upload, but it threw an error. I looked into other related issues, but couldn't find any proper solution.
[code]
When I run ``` pytest test/unit/upload_test.py```, it gives
[code]
<img width="834" alt="Screenshot 2019-06-14 at 12 57 34 PM" src="https://user-images.githubusercontent.com/48200233/59491449-6910cc00-8ea4-11

[2019-06-14 10:56] mindflayer commented on #94
Hi @kpradhan-cs, it's the first time I see a similar use-case. Let me see if I can fix your issue.

[2019-06-15 09:36] mindflayer commented on #94
Hi again, here is your fix: https://pypi.org/project/mocket/2.7.4/
You just have to `pip install -U mocket`.

[2019-06-15 09:36] #94 closed

[2019-06-15 17:52] WisdomPill opened #96 "Cannot use mocket in docker image"
I'm trying to build an image with python 3.5.3-alpine

One of my dependencies is mocket and the build of the images gives me this output

[code]

My docker file is the following

[code]

Is there a way to avoid extras or to install xxhash on an alpine docker image?

[2019-06-15 18:25] mindflayer commented on #96
I am having a look at it. Thank you.

[2019-06-15 18:32] mindflayer commented on #96
[code]

[2019-06-15 18:36] #96 closed

[2019-06-23 00:46] mindflayer commented on #79
Mocket now fully supports Python 3.7:
https://pypi.org/project/mocket/3.7.0/

[2019-06-23 00:46] #79 closed

[2019-07-29 07:03] mindflayer commented on #85
The `redis` module author is changing the behaviour that caused the problem with `mocket`, because also brought problems when the module is used together with `gevent` and `eventlet`. I hope this will be solved soon.
https://github.com/andymccurdy/redis-py/commit/acac4db0c064d2618d75f27a58384c97c16458fd#diff-b3be2d0fa4e0cf1f1c403f2de43ecdb4

[2019-09-18 04:45] jayvdb opened #100 "sdist doesnt include __init__.py"
The current packaging excludes `tests` from the package source with `exclude_packages = ('tests', )` in `setup.py` , however this oddly only removes `tests/__init__.py` .  To declare that the tests are not part of the source, it needs to be `exclude_packages = ('tests', 'tests.*')`.

And as this is a testing library, IMO it is very important that the test suite is included in the sdist, so tests s

[2019-09-18 05:44] jayvdb opened #102 "Three SSL test failures on openSUSE Tumbleweed Python 2"
test_can_inspect_last_request_with_ssl and test_rotating_responses_with_requests and test_json fail on openSUSE Tumbleweed Python 2 only.  They pass on Python 3

[code]

I have enabled all the extras of `requests`, hoping that might fix it, but it didnt help.

Packaging project at

https://build.opensuse.org/package/show/home:jayvdb:py-new/python-mocket

[2019-09-18 06:16] mindflayer commented on #102
I was sure this was already been fixed, but of course it wasn't. Thanks for your report.

[2019-09-18 06:18] mindflayer commented on #102
@jayvdb Could you please run tests using my branch?

[2019-09-18 06:34] jayvdb commented on #102
Yup; that fixed it.

[2019-09-18 07:11] mindflayer commented on #102
Here is the fix, enjoy `mocket`: https://pypi.org/project/mocket/3.7.3/

[2019-09-18 07:11] #102 closed

[2019-09-18 07:27] #100 closed

[2020-01-08 23:02] mindflayer commented on #85
Fixed: https://pypi.org/project/mocket/3.8.0/

[2020-01-08 23:02] #85 closed

[2020-02-26 06:55] timgates42 opened #108 "Fix simple typo: retur -> return"
There is a small typo in tests/main/test_httpretty.py.
Should read `return` rather than `retur`.

[2020-02-26 08:03] mindflayer commented on #108
Hi @timgates42, thanks for your contribution. I should clean that file though, since many tests have been commented out for features which `mocket` did not, and probably will never support.

[2020-02-26 13:30] mindflayer commented on #108
I removed the unused tests from that file. Thanks for the hint, btw. I completely forgot I had to do it.
https://github.com/mindflayer/python-mocket/commit/3a76df216e1478187ca6451a6c9b23d9c1438f03

[2020-02-26 13:30] #108 closed

[2020-03-22 22:37] amotl opened #110 "BlockingIOError() when mocking null-byte responses"
Dear Giorgio,

first things first: Thanks for conceiving and maintaining this excellent pytest mocking module.

We just found MocketEntry instances pretending to respond with single null bytes like
[code]
will not yield their responses properly due to the boolean-style test within [`MocketSocket.recv`](https://github.com/mindflayer/python-mocket/blob/3.8.4/mocket/mocket.py#L280-L281).

Instead, th

[2020-03-23 09:47] mindflayer commented on #110
Hi @amotl,
I was trying to write a test which makes it fail that way, but I could not.
Could you please add a few lines of code which show the full picture?
Thank you very much in advance.

[2020-03-23 10:49] amotl commented on #110
Dear Giorgio,

probably I didn't learn enough about Mocket yet / mixed up the data types. After tweaking the `responses` parameter to `[b'\x00']` to designate a single null-byte (see also [1]), everything worked smoothly.

So, let's just close this issue. Sorry for the noise and keep up the spirit!

With kind regards,
Andreas.

[1] https://github.com/hiveeyes/terkin-datalogger/blob/14a9bb5e4331733

[2020-03-23 10:53] mindflayer commented on #110
I am aware it still lacks a proper documentation. I am trying to find the time to make it better.
Feel free to contact me in case you have other problems.

[2020-03-23 10:53] #110 closed

[2020-03-23 16:13] amotl opened #111 "Multiple HTTP writes fail"
Dear Giorgio,

## Introduction
Our background is that we are currently building a [test suite based on CPython/Pytest](https://github.com/hiveeyes/terkin-datalogger/tree/master/test) for invoking MicroPython programs, see also https://github.com/micropython/micropython/pull/5786 and https://github.com/micropython/micropython/issues/4955. It works pretty good so far. Thanks again for Mocket, it hel

[2020-03-23 19:17] mindflayer commented on #111
I had a look at your `gist`. So, `mocket` supports multiple read, but definitely does not support multiple writes at the moment. I can see if that's an easy task to implement, but I cannot promise anything.

[2020-03-23 20:29] amotl commented on #111
Thanks!

In that case, Mocket should honor the semantics of HTTP that a `Content-Length` header is required and read that many bytes from the HTTP request body before passing the request down to its handler.

When the client signals a `Connection: close` header, the socket connection should be closed afterwards.

[2020-03-24 08:23] mindflayer commented on #111
Good morning, yesterday night I made a few changes which fixed your issue, but broke other test cases. I hope I'll be able to sort everything out.

[2020-03-24 12:24] amotl commented on #111
Hi Giorgio,

I've also spent some time on further researching this issue last night. In the meanwhile, I am not so sure that [`urequests`](https://github.com/micropython/micropython-lib/blob/master/urequests/urequests.py#L56-L81) acts standards-compliant at all, especially when using standard (CPython) socket semantics.

The [usocket documentation](http://docs.micropython.org/en/latest/library/uso

[2020-04-08 02:32] dimaqq opened #112 "Can it mock socket errors?"
It would be awesome if mocket could also mock all kinds of socket errors on demand.
I'd love to use this library for negative tests as well as regular tests...

[2020-04-09 07:17] mindflayer commented on #112
I am studying a solution. I'll let you know soon if that can be done without breaking anything.

[2020-05-01 11:42] mindflayer commented on #111
Hi @amotl, I have a PR with a few changes which make your tests pass but I could not spend enough time to see if they can work with all the rest.
In case you'd like to try, it's about fixing PR #113.

[2020-05-01 11:47] mindflayer commented on #111
For now, I am flagging it as `[wontfix]` and closing the issue. Feel free to reopen it in case you have an update.

[2020-06-14 09:08] WisdomPill opened #114 "Support for async test methods"
Async test methods are not fully supported.

From python 3.8 `IsolatedAsyncioTestCase` is available and with them you can write `async def` test methods.

Here is a snippet for testing

[code]

Gives back this warning
[code]

I have a PR ready for solving this issue, I just have a weird warning that I want to share with you

[2020-06-18 06:18] mindflayer commented on #114
I've just released version `3.8.5`. Many thanks @WisdomPill!
https://github.com/mindflayer/python-mocket/releases/tag/3.8.5

[2020-06-18 06:18] #114 closed

[2020-06-18 08:45] WisdomPill commented on #114
Thanks for helping getting travis happy for older versions of python! 😋

[2020-06-18 18:53] mindflayer commented on #114
I am sorry `3.8.5` was broken. I moved a lot of stuff while introducing `pipenv` and I did not test properly. I removed that version and issued a new one: https://github.com/mindflayer/python-mocket/releases/tag/3.8.6

[2020-07-27 12:18] felixonmars opened #119 "test_http_with_xxhash fails on Arch Linux x86_64"
The environment is:
`platform linux -- Python 3.8.5, pytest-5.4.3, py-1.9.0, pluggy-0.13.1 -- /usr/bin/python`

The captured stdout is the output of `print(responses['httpbin.org']['80']), which looks like each request was put into two different hashes.

[code]

[2020-07-27 12:22] felixonmars commented on #119
Hrm looks like it's a side effect of #120 but I didn't know where should I fix. Any suggestions?

[2020-07-27 15:58] mindflayer commented on #119
I guess we can close this issue.

[2020-07-27 16:36] #119 closed

[2020-09-18 14:17] ajhodges commented on #14
This is still an issue;  the same 'entry' is reused for requests to the same host/port. mockhttp.Entry tracks _sent_data, and each request appends to _sent_data. but the entire _sent_data is sent to super.collect(), which is where it's passed into the Request class, and everything but the first _sent_data is truncated when the data is parsed.

[2020-09-18 14:43] mindflayer commented on #14
Hi @ajhodges, do you have a specificfailing  test case for the problem you are referring to?

[2020-09-18 16:31] ajhodges commented on #14
Sure - I've added a failing test case here:
https://github.com/ajhodges/python-mocket/commit/cbae40c5ab2821dcc38c6dcfbf8d91b6edb1322d

Both of these assertions are currently failing. Somehow there are 3 requests getting added when only two are made, and they all have the same data as the first request (the one with the query params)

[2020-09-20 11:20] mindflayer commented on #14
Hi @ajhodges, I am working at a fix. The problem that makes your test fail has nothing to do with multiple requests.
It's a bug in managing the second `sendall` sent by `requests` when sending the JSON body. I am on it.

[2020-09-20 11:35] mindflayer opened #123 "JSON body sent as second `sendall` breaks things"
This is still an issue;  the same 'entry' is reused for requests to the same host/port. mockhttp.Entry tracks _sent_data, and each request appends to _sent_data. but the entire _sent_data is sent to super.collect(), which is where it's passed into the Request class, and everything but the first _sent_data is truncated when the data is parsed.

_Originally posted by @ajhodges in https://github.com/

[2020-09-20 12:44] mindflayer commented on #123
Hi @ajhodges, `mocket==3.9.0` is able to make your test pass. Thanks for the contribution!
https://pypi.org/project/mocket/3.9.0/

[2020-09-20 13:09] #123 closed

[2020-09-21 08:10] mindflayer commented on #14
Just for clarifying: the fact that the same `Entry` is re-used is a `mocket` feature and it has been like that since the very beginning. The APIs have been consistent since we released it in 2013. If you need different responses for the same path you explicitly create two different `entries`.

**_In case you feel you have a problem which is similar to this please open a new issue, and add a snippe

[2020-10-09 18:07] mindflayer commented on #111
Hi @amotl, I've got a good news for you, people.

[2020-10-09 18:41] mindflayer commented on #111
Here you are:
`pip install mocket==3.9.1`
https://pypi.org/project/mocket/3.9.1/

[2020-10-09 18:43] mindflayer commented on #111
@amotl This is your test added to `mocket`'s suite: https://github.com/mindflayer/python-mocket/blob/master/tests/main/test_http.py#L327

[2020-10-09 18:45] #111 closed

[2020-10-11 10:03] mindflayer commented on #112
Hi @dimaqq, after months I spent some more time on it and I made it.

[2020-10-11 10:22] mindflayer commented on #112
[code]

[2020-10-11 10:48] mindflayer commented on #112
Of course after a `pip install mocket==3.9.2`. :package:
https://pypi.org/project/mocket/3.9.2/

[2020-10-11 10:49] #112 closed

[2020-11-09 10:31] mindflayer opened #130 "`makefile` is broken"
Thanks to @KyleKing for reporting it and fixing `mocketoy` in #128.

[2020-11-09 10:52] mindflayer commented on #130
Here it is: https://pypi.org/project/mocket/3.9.3/

[2020-11-09 10:56] #130 closed

[2021-01-15 09:32] fvigo opened #139 "MocketSocket support for context manager"
Hi,

MocketSocket doesn't seem to support context manager, so the construct:
[code]

throws an AttributeError:
[code]

Is it by design? Any way to work around it (besides rewriting the original code that uses `with socket.socket` )?

Thanks!

[2021-01-15 10:16] mindflayer commented on #139
Hi @fvigo, it's simply the first time this use-case has ever been raised.
You could try to fix it, in case you want to try, or I'll have a look at it soon, potentially today afternoon or maybe during the week-end.

[2021-01-15 15:55] fvigo commented on #139
Hey @mindflayer , I tried to fix it but probably you want to add a new UT for that scenario. The fix is based on the original implementation of `socket.socket`, plus adding a check for python >= 3.2 (as the context manager in socket as introduced then).

[2021-01-15 15:57] mindflayer commented on #139
I've just pushed my branch with the feature, give me a minute and I'll publish a new version. :)

[2021-01-15 16:01] mindflayer commented on #139
In your implementation you are closing the real `socket` in `__exit__`. Why this behaviour? Is there a specific user-case for it?

[2021-01-15 16:04] fvigo commented on #139
It's based on this: https://hg.python.org/cpython/file/e57c8a90b2df/Lib/socket.py#l87

`__exit__()` gets called when you stop using an object in `with` scenarios, so it it was a real socket it would close it.

I assumed that if you are mocking a socket but you have an open truesocket behind it, you want to close it.

[2021-01-15 16:07] mindflayer commented on #139
In this case I'd say it's not needed. Not sure if I am not considering a specific scenario that you have in mind.

[2021-01-15 16:12] fvigo commented on #139
I don't think it's a big deal, but I won't understand where you close the true_socket if it's open (i.e. close the TCP connection). From what I see `MocketSocket.close()` doesn't really close it.

[2021-01-15 16:14] mindflayer commented on #139
Actually you are right, now I picture it.

[2021-01-15 16:22] #139 closed

[2021-01-15 16:22] fvigo opened #142 "Some options not implemented in MocketSocket"
**Describe the bug**
When using mocked sockets in some conditions, certain socket properties are not properly implemented.

1. In AF_INET6 scenarios (IPv6 connection), `address` can be a tuple of four elements (see https://docs.python.org/3/library/socket.html#socket-families ), but the current implementation only takes tuples with 2 arguments. For example `socket.connect((host, port, 0, 0))` shou

[2021-01-15 16:25] mindflayer commented on #139
Here you are: https://pypi.org/project/mocket/3.9.39/

[2021-01-15 16:26] fvigo commented on #139
Thanks a lot for the quick fix!

[2021-01-15 16:31] fvigo commented on #142
Have you considered trying GitHub actions?

[2021-01-15 16:34] mindflayer commented on #142
Yes, that would be the alternative.

[2021-01-16 12:03] mweinelt opened #143 "requirements.txt missing"
**Describe the bug**
The `requirements.txt` referenced in setup.py is not part of the Git repo.

https://github.com/mindflayer/python-mocket/blob/343f5b913616e2c7bcc916cdd9127afa6e1cf7c6/setup.py#L11-L17

**To Reproduce**
n/a

**Expected behavior**
Include the `requirements.txt` so `python setup.py install` can work.

[2021-01-16 12:11] mindflayer commented on #143
What is the problem you are trying to solve? In which situation you were not able to install `mocket`?
[code]

[2021-01-16 12:16] mindflayer commented on #143
![mocket](https://user-images.githubusercontent.com/527325/104811606-0f4d5200-57fd-11eb-9a2b-048cb2fffdd5.png)

[2021-01-16 12:17] mweinelt commented on #143
I'm trying to install a tag from Git, not from PyPi. This would be helpful for packaging, since then we could execute the tests during packaging, as they weren't included in the  PyPi package last I checked.

[code]

[2021-01-16 12:17] mindflayer commented on #143
Have a look at `Makefile`. :)

[2021-01-16 12:20] mindflayer commented on #143
This has been fixed already. You can see it from the screenshot I posted.

[2021-01-16 12:28] mweinelt commented on #143
Ah, my bad. Thanks!

[2021-01-16 12:28] #143 closed

[2021-01-16 12:32] mindflayer commented on #143
No issue, I am glad to help!

[2021-01-21 19:27] fvigo opened #146 "Socket recording with multiple connections across several sendall() has issues if there is a common initialization"
This is a tricky scenario that happened in a corner case:

- Recording socket activity for replay
- Recording multiple connections in the same Unit Test
- Each connection has multiple sendall() operations
- The first sendall() data is identical across all the connections

This doesn't apply with HTTP because connections are mostly stateless, but can happen with other protocols (i.e. HTTP proxy)

E

[2021-01-21 22:36] mindflayer commented on #146
Why are you sharing the `mocket` session?

[2021-01-21 22:39] mindflayer commented on #146
I guess you could do something like:
[code]

[2021-01-21 22:41] fvigo commented on #146
Because all the connections happen serially
i.e. my pseudocode is:
[code]

And in the UT I do:
[code]

[2021-01-21 22:56] fvigo commented on #146
Yes, that could work. My scenario is more complicated so I solved it in a different way. As mentioned it is not a bug and with proper usage of the library it's possible to achieve the result.

The problem was mainly troubleshooting to understand the behavior, it's probably something to mention in the documentation or maybe (feature request) adding some additional logging capabilities for debugging

[2021-01-22 05:48] mindflayer commented on #146
Regarding logs, I tried many times to approach the subject but still did not find a good way to do it. Feel free to propose a solution, if you have something in mind.

[2021-01-25 18:47] #146 closed

[2021-02-15 17:44] mindflayer commented on #142
Hi @fvigo, were you thinking to propose a PR related to this issue? Otherwise I'll have a look at it in the near future.

[2021-03-01 08:39] fvigo commented on #142
Hi @mindflayer , sorry for the delayed response. I found a solution that allowed me to continue without requiring a change to `mocket`.

For IPV6 support, I think should be considered an enhancement, but the issues described here might create problems with the socket API.

They should be both easy fixes: allow MocketSocket.connect() to support tuples of 4 elements, and  rename socktype to type in

[2021-03-20 16:20] WisdomPill opened #147 "Mocket fails when there are Redis calls using `hiredis`"
**Describe the bug**
I have a `django` based software that makes http requests using `requests` and uses `django-redis` to store some data of what it has fetched. I have noticed that if the first network call in a `TestCase` is for `redis` then `mocket` mocks redis, otherwise it mocks only `requests`.

**To Reproduce**
[code]

will throw an exception
[code]

If you swap names of the test functions

[2021-03-20 18:56] mindflayer commented on #147
Hi @WisdomPill, I am having a look at that. Thanks for the feedback.
Before starting, I must say that usually when testing Django caching you use `DummyCache` (https://docs.djangoproject.com/en/3.1/topics/cache/#dummy-caching-for-development), but that of course has nothing to do with `mocket` failing, which has to be fixed. Maybe you could take it as a workaround for now.

[2021-03-20 19:06] mindflayer commented on #147
The other thing is: I have to create a dummy project with Django, your script cannot work without it.

[2021-03-20 19:07] WisdomPill commented on #147
Hello @mindflayer,
well, I can't use `DummyCache` because I am using some features of `django-redis` that are not standard in django cache, like a redis' `Lock`.
For now my look around is to run a dummy test that is a mere copy of `test_b_random_url ` of the example, so that alphabetically runs before.
I can create a dummy project with the test case in place if needed.

[2021-03-20 19:10] mindflayer commented on #147
What version of `mocket` are you using?
Nothing is failing on my machine.
![Screenshot from 2021-03-20 20-09-27](https://user-images.githubusercontent.com/527325/111882874-3f110580-89b8-11eb-8cfd-487052686975.png)

[2021-03-20 19:11] mindflayer commented on #147
`env DJANGO_SETTINGS_MODULE=app.app.settings pytest test.py`
Django's app has been created with a simple `django-admin startproject app`.

[2021-03-20 19:14] mindflayer commented on #147
What `redis` version are you using?

[2021-03-20 19:17] mindflayer commented on #147
All `mocket` tests are passing with the latest version of `redis`:
[code]

[2021-03-20 19:20] WisdomPill commented on #147
I am using the same redis version.
I am trying to setup a dummy project.
Here is my pipfile with the dependencies needed if you want to try in the meantime.
[code]

[2021-03-20 19:26] mindflayer commented on #147
Thanks, that would help. :)

[2021-03-20 19:58] WisdomPill commented on #147
With just the requirements of my previous comment is seems to work, but if I copy the requirements of the project in which there is the issue it happens again.
I stripped down the dependencies to see if the issue is still there and it is.
I left most of the dependencies that have to do with redis.
I will try to remove more dependencies, in the meantime [here is the link](https://github.com/WisdomP

[2021-03-20 20:24] WisdomPill commented on #147
It has to do with `hiredis`, I will read further probably tomorrow.
Thanks for the quick response.
I will let you know why it happens and if there is a quick fix to make `mocket` work in harmony with `hiredis`

[2021-03-20 20:43] mindflayer commented on #147
That's quite strange, AFAIK `hiredis` has nothing to do with networking and it's for speeding up the Redis protocol parsing.

[2021-03-20 20:50] mindflayer commented on #147
Let me know in case you feel I can be of help.

[2021-03-21 17:46] WisdomPill commented on #147
I did some digging and removed django.
I found out that `redis-py` gives the error only when `hiredis` is available because it tries to use the socket to read (have a look [here](https://github.com/andymccurdy/redis-py/blob/1a41cfd95a53a95b078084d8627be6b6fba3bb71/redis/connection.py#L416)) the response. In fact now it gives the error back all the time regardless of the orther of the tests.
I neve

[2021-03-22 07:58] WisdomPill commented on #147
Okay, thanks for the explanation.
I already found some workaround in my projects, thanks for pointing out some solutions though.
I just like `mocket` and want to help by reporting this issue.

P.S. I wanted to make another point in why I am not using `DummyCache`, I prefer having the exact environment of staging and production during testing, so `DummyCache` is something that I never even thought

[2021-03-22 08:04] mindflayer commented on #147
I understand your point of view and I believe it makes sense, especially if your logic can be different depending if something is cached or not, but also consider that a cache, by definition, should not be a "blocker". It's just there for optimizing the speed.
The first alternative I presented to you (context manager) implies you have a working Redis in your testing environment. If so, everything

[2021-03-22 08:12] mindflayer commented on #147
Thank you so much for your help.

[2021-04-25 15:42] WisdomPill opened #148 "Issue with decorator and patches used together"
**Describe the bug**
In my project when I upgraded `mocket` I noticed an issue on all the tests that had `@mocketize` decorator and `@patches` (from `unittest.mock` package). I tried different versions and it seems to me that from `3.9.4` there is the issue. I am using django's `TestCase` I am sure the issue is showing up regardless of the content of the test and without any `setUp` or `tearDown`

[2021-04-26 06:43] mindflayer commented on #148
If I see what changed between `3.9.3` and `3.9.4` I'd say it's probably something related to `decorator`. I need to test and probably pin the correct version, in case it's related to that.

[2021-05-21 08:39] mindflayer commented on #148
Sorry for the delay. I've just opened a bug [here](https://github.com/micheles/decorator/issues/126).

The problem is related to `decorator>=5`.

[2021-05-21 09:10] mindflayer commented on #148
All good, you can `pip install mocket==3.9.41`.

https://pypi.org/project/mocket/3.9.41/

[2021-05-21 09:10] #148 closed

[2021-05-21 09:12] WisdomPill commented on #148
Thanks!

[2021-05-28 09:15] mmoraleda-smartprotection opened #151 "Mocket fails to mock HTTPS after upgrading `urllib3` to `1.26.5`"
**Describe the bug**
Mocket on version `3.9.41`  is not working well with HTTPS URLs.

**To Reproduce**
Steps to reproduce the behavior:
it's failing your test `tests/main/test_httpretty.py::test_rotating_responses_with_requests`.

[code]

We have reproduced with these tests:
[code]
**Expected behavior**
It should mock HTTPS requests too.

**Docker image (please complete the following information)

[2021-06-01 15:39] oschwald commented on #151
We are also [experiencing this](https://github.com/maxmind/minfraud-api-python/actions/runs/890529120). Our tests were working fine last week but stopped several days ago. The cause appears to be `urllib3` 1.26.5. If I downgrade to 1.26.4, the tests pass.

[2021-06-01 15:42] mindflayer commented on #151
Thanks for the feedback. Something changed in the way `urllib3` deals with HTTPS, I need to spend some time on it.

[2021-06-01 20:07] mindflayer commented on #151
This is what they claim they did:

[code]

This is the difference between the two versions:
https://github.com/urllib3/urllib3/compare/1.26.4...1.26.5

[2021-06-09 09:44] mmoraleda-smartprotection commented on #151
My 2cents
As a partial solution, we have mocked `urllib3.connection.match_hostname` to silence this and it works.
This function consumes `SSLSocket.getpeercert` (override by MocketSocket?) around these functions should be the error.
[code]

[2021-06-09 11:11] mindflayer commented on #151
I bet this will help me to fix the issue.

[2021-06-09 16:37] mindflayer commented on #151
It looks like it was not the only issue brought by the `urllib3` upgrade.

[2021-06-10 12:28] mindflayer commented on #151
Here is a new version compatible with the current `urllib3`: https://pypi.org/project/mocket/3.9.42/

It has been hard but I managed to remove some code and make the rest simpler.

[2021-06-10 12:28] #151 closed

[2021-08-30 12:07] mweinelt opened #154 "Support decorator>=5.0"
**Describe the bug**
As a distro we have to update our package set continuously and as such we noticed mocket pins decorator<5.

Opening up the version constraint we are seeing a single test failure:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Remove upper bound on decorator constraint
2. `python setup.py install`

**Expected behavior**
Support recent decorator releases.

**Addit

[2021-08-31 08:23] mindflayer commented on #154
Hi @mweinelt, I already have a branch where I am trying to fix it, since this just "a single test failure" is basically about the decorator not decorating. :)

[2021-08-31 10:48] mindflayer commented on #154
Here it is: https://pypi.org/project/mocket/3.9.43/

[2021-08-31 11:00] mindflayer commented on #154
Here is the good one, sorry for the mistake: https://pypi.org/project/mocket/3.9.44/

[2021-08-31 11:01] #154 closed

[2021-08-31 12:23] mweinelt commented on #154
Thank you!

[2021-09-25 16:32] c-w-m opened #157 "setup.py fails, missing requirements.txt file"
**Describe the bug**
Missing `requirements.txt` file causing `setup.py` to fail.

[2021-09-25 19:19] mindflayer commented on #157
What are you trying to do?

[2021-09-25 19:26] c-w-m commented on #157
I would like to use mocket as the test environment for a SSL project.  As part of the development environment I'm loading mocket from tox via the command = `python -m pip install -e src/python-mocket`.  At this point it seems to work with my `requirements.txt` having only `decorator` as an entry.  This allows the `mocketoy` demo to run. Should there be more in `requirements.txt`?  - cheers

[2021-09-25 19:43] c-w-m commented on #157
I'll close this, seems to be working well enough with:

================
File: requirements.txt
================

urllib3==1.26.7
decorator==5.1.0
http_parser==0.9.0
pook==1.0.2
python_magic==0.4.24
xxhash==2.0.2
xxhash_cffi==1.3.0

[2021-09-25 19:43] #157 closed

[2021-09-25 19:49] mindflayer commented on #157
`pip install mocket` should work properly.

[2021-09-25 19:50] mindflayer commented on #157
There is a `Makefile` which installs everything you need.

[2021-11-23 07:47] ykharko opened #158 "Strange behavior with multiple responses"
**Describe the bug**
I wanted to test specific logic of my application when retry logic is used. I wanted to emulate couple of fail responses and then successful one. I tried to use `Entry.register` method as it looks like its interface allows to pass multiple responses.
Almost everything works fine (difference responses are returned back) except for one thing: odd responses are missed.

**To Repr

[2021-11-23 08:27] mindflayer commented on #158
Hi @ykharko,
this seems to be a very strange behaviour. I even noticed that changing the post to
[code]
makes it behave normally.
I'll look into it ASAP.

[2021-11-23 08:29] ykharko commented on #158
Thank you very much for quick reply. :)

[2021-11-23 17:43] mindflayer commented on #158
Hi again, I am still on it, but I managed to isolate the issue and it's simpler than what I thought at first.
Here is a temporary solution for you:
[code]

[2021-11-23 17:57] mindflayer commented on #158
EDIT: I removed my previous comment because it was inaccurate. I am still working on it.

[2021-11-25 12:19] mindflayer commented on #158
This was super-tricky, because in this case `requests` is calling `socket.sendall()` twice for each transaction. This was basically fooling `Mocket`. So, everything was working properly only when an empty body was sent or a GET method was used.
I am going to release a new version supporting this new use-case scenario.

[2021-11-25 12:21] #158 closed

[2021-11-25 12:24] mindflayer commented on #158
Here it is: https://pypi.org/project/mocket/3.10.1/

Thanks again for opening the issue and making `mocket` a better tool for testing.

[2021-11-26 04:56] ykharko commented on #158
Thank you very much for so quick fix!

[2022-01-06 14:22] #147 closed

[2022-01-06 14:22] #142 closed

[2022-04-24 19:23] michael-lazar opened #175 "MocketEntry.request_class str vs bytes"
Hi, thanks for creating this awesome library!

I've just started using mocket to test raw socket connections and uncovered some weirdness with ``MocketEntry.request_cls``. The default behavior is to cast the request data as a ``str``, but this doesn't really make sense for python 3 because sockets use bytes. This results in the request data being mangled as a string. Here's an example

[code]

I s

[2022-04-24 20:13] mindflayer commented on #175
I am glad you like it, and thanks for opening this issue.

I believe you are right. Feel free to propose a PR with a small fix and a test if you like the idea.

[2022-04-25 06:59] mindflayer commented on #175
Here is a version including your fix, many thanks!

https://pypi.org/project/mocket/3.10.5/

[2022-04-25 06:59] #175 closed

[2022-05-17 13:28] pgajdos opened #178 "use unittest.mock instead of mock"
Could you please consider to use built in unittest.mock?

Background:
https://github.com/mindflayer/python-mocket
https://fedoraproject.org/wiki/Changes/DeprecatePythonMock

[2022-05-17 19:05] mindflayer commented on #178
Here is a new version without `mock`: https://pypi.org/project/mocket/3.10.6/

[2022-05-17 19:06] #178 closed

[2022-05-18 06:30] pgajdos commented on #178
Thanks!

[2022-08-16 15:12] gregbrowndev opened #182 "Support httpx"
Hi,

I'm in the process of converting my [requests](https://requests.readthedocs.io/en/latest/)-based application to [httpx](https://www.python-httpx.org/), and therefore also having to convert all the [responses](https://github.com/getsentry/responses)-based mocks within my tests. I wanted to avoid coupling to another client-specific test library like [RESPX](https://lundberg.github.io/respx/) an

[2022-08-16 15:21] mindflayer commented on #182
I don't think it has been tested before, but I should be able to make it work.
I believe It's calling a method that I am not defining on `FakeSSLContext` side.
You could try to add it to this [tuple](https://github.com/mindflayer/python-mocket/blob/8b994a84c651a4f5bad99e8c426b1a490ee03591/mocket/mocket.py#L75).
If you don't want to try, I'll give it a try when I am done with work.

[2022-08-16 15:26] mindflayer commented on #182
It may fail for a similar reason after you add that one, the fix would still be adding what's missing.

[2022-08-16 15:59] gregbrowndev commented on #182
Thanks, @mindflayer, for the quick response on this!

I'll struggle to be able to try it today because I have plans after work. I'll try to investigate when I get the chance.

[2022-08-16 17:08] mindflayer commented on #182
I tried the fix and it worked, but it looks like there is something more profound I have to investigate.

[2022-08-16 19:03] mindflayer commented on #182
Here is a new version supporting `httpx`: https://pypi.org/project/mocket/3.10.7/

[2022-08-18 14:16] gregbrowndev opened #185 "Cannot inject HTTPX client as pytest fixture"
Hi,

Thanks for [fixing the previous issue](https://github.com/mindflayer/python-mocket/issues/182) super quickly. However, I've noticed a `json.decoder.JSONDecodeError` problem when you inject HTTPX' `AsyncClient` as a pytest fixture. If you put the `@mocketize` decorator on the fixture it fixes the problem. However, this seems a bit odd.

[code]

<details>
  <summary>Stacktrack</summary>

[code]

[2022-08-18 14:22] mindflayer commented on #185
From your stacktrace I don't understand how `mocket` is involved in this error. It seems like something happening on `httpx` side.
Could you please comment all `mocket`'s code?

[2022-08-18 14:24] mindflayer commented on #185
Also, I see you are not using `async_mocketize` but your code looks like `async` to me.

[2022-08-18 14:31] gregbrowndev commented on #185
Thanks for the quick reply.

Maybe as a bit of context. This test is trying to emulate a sync function that uses httpx to make a bunch of concurrent requests. Basically calling async from a sync function. It does this by putting the coroutines on the event loop like in the test. The sync function is buried deep in the app, so this is to contain the `async` and prevent us converting the whole app t

[2022-08-18 14:34] gregbrowndev commented on #185
I'll look into this, maybe this is the real problem!

Thanks

[2022-08-18 14:58] gregbrowndev commented on #185
It doesn't look specifically like a httpx issue. This test passes (calling out to a real http API):

[code]

However, if you add the decorator, you get the error below (different to the original one)

<details>
    <summary>Stacktrace</summary>

[code]
</details>

[2022-08-18 17:55] mindflayer commented on #185
First of all, the error related to JSON decoding is a symptom of something wrong. It looks like `mocket` is not intercepting the call. You can see it from the following screenshot
![Screenshot from 2021-11-26 19-11-32](https://user-images.githubusercontent.com/527325/185462269-0ecd93e9-9d6e-497a-905a-db3333eb3f5d.png). Now I am trying to understand what is the real problem.

[2022-08-18 17:56] mindflayer commented on #185
First of all, the error related to JSON decoding is a symptom of something wrong. It looks like mocket is not intercepting the call. You can see it from the following screenshot:
![Screenshot from 2022-08-18 19-52-39](https://user-images.githubusercontent.com/527325/185462455-7799390a-5946-423f-8388-058e5326f377.png)

[2022-08-18 18:36] mindflayer commented on #185
It looks like the client from the fixture is living in a non-perfectly-mocked reality.
Mocket is doing right but, for some reason, after it serve the response, a real call happens.

Like you said, the fix it in enabling `mocket` from inside the fixture like I did, or using the decorator, like you mentioned before.
[code]

[2022-08-18 21:04] mindflayer commented on #185
I've just added the above test to `mocket''s test suite. You can see the linked PR.

[2022-08-18 21:04] #185 closed

[2022-08-19 15:03] gregbrowndev opened #187 "Support for `fastapi`.`TestClient`"
Hi,

I've discovered an issue using mocket and end-to-end testing. In the code below, Mocket breaks the  [`TestClient`](https://fastapi.tiangolo.com/tutorial/testing/#using-testclient), which is a [FastAPI utility](https://fastapi.tiangolo.com/) that is subclass of Request's `Session`, as it prevents it from sending the real requests to the app's host, causing the test to hang indefinitely. I only

[2022-08-19 15:22] mindflayer commented on #187
It's not your `TestClient` that is calling `https://example.org/`, hence the decorator is not mocking that specific request.

[2022-08-19 15:25] gregbrowndev commented on #187
If you debug the test the program never makes it into the FastAPI `read_main` function (of course, if you remove the `mocketize` decorator it does). So it seems that `mocket` is affecting `TestClient`, which is to be expected since its based on Requests

[2022-08-19 15:33] mindflayer commented on #187
Mocket works monkey-patching the `socket` module (w/ `ssl` for supporting HTTPS). What is not registered should be able to reach the real destination, through a real `socket`. If it does not, there might be something wrong.
What I was trying to say is that in your scenario the call you want to mock happens outside `mocket` jurisdiction and it should not work as you expect. The fact that it gets st

[2022-08-19 15:48] gregbrowndev commented on #187
Thanks again @mindflayer for all the help with this and previous issues. Unfortunately, I'm at a push to get these httpx changes in before next week, and our app is pretty small, so I'm going to pick up RESPX for this specific app. `mocket` is great though, I've used it on a bunch of other projects and will continue it being my go-to.

Here is a test that passes using RESPX without the issues arou

[2022-08-19 15:48] mindflayer commented on #187
Did you try to create the `app` from inside your test case?

[2022-08-19 15:53] gregbrowndev commented on #187
Just gave it a try now. It still has the hanging issue so not able to see whether it made a difference to the mocked request. Also, this pattern is at odds with pytest's fixture-based approach (maybe you could put `with Mocketizer` in the `fixture` like we did in a previous issue, but that is also not so obvious):

[code]

[2022-08-19 16:09] mindflayer commented on #187
Of course using a mock for a specific client is a totally different approach, I am glad you found something that works for you.

[2022-08-20 07:19] mindflayer commented on #187
I am still trying to put all the pieces together, but I have a suspect.
Fastapi TestClient is based on `starlette`.`testclient` which makes use of `BlockingPortal` from `anyio`. Copying from its documentation:
[code]
This smells like something a bit outside the scope of Mocket.

[2022-08-20 07:24] mindflayer commented on #187
In case you'd want to test something like that with Mocket, I'd suggest to use it for testing the functions/code behind your Fastapi service.

[2022-08-21 18:15] gregbrowndev commented on #187
Interesting, thanks for looking into this @mindflayer

[2022-08-22 17:58] KentShikama commented on #187
Ok after some more digging, I realized that the error is coming from the previous line. No wonder I was confused. Here is the stacktrace:
[code]

[2022-08-22 19:12] KentShikama commented on #187
I'm not sure why but asyncio tries to write a null byte to the socket (see https://github.com/python/cpython/blob/129998bd7b133defa37c7529bfad9052c0022b5c/Lib/asyncio/selector_events.py#L139) but mocket has already "hijacked" the socket so the call fails.

[2022-08-22 19:53] KentShikama commented on #187
Ah ok, so mocket expects a call to `connect` in order to set the address.

[2022-08-22 21:05] KentShikama commented on #187
Specifically it looks like mocket doesn't really mock a "self-socket": see https://github.com/python/cpython/blob/main/Lib/asyncio/selector_events.py#L106-L107.

[2022-08-22 21:31] KentShikama commented on #187
I think mocket needs to support the idea of a "self-socket" being mocked in order for it to support FastAPI's `TestClient`.

[2022-08-23 01:32] mindflayer commented on #187
The other day I left here. Thanks for making some more progress.

Let's see what I can do. :)

[2022-08-23 01:59] mindflayer commented on #187
The problem is that the `connect()` is supposed to happen in the async world, I guess.
https://github.com/python/cpython/blob/129998bd7b133defa37c7529bfad9052c0022b5c/Lib/asyncio/selector_events.py#L614

[2022-08-23 14:14] mindflayer commented on #187
So, the two instances of `socket` created by `socket.socketpair()` are `MocketSocket` ones.
If I make this `send(b'\0')` pass the code is still stuck waiting forever:
[code]

[2022-08-23 14:21] KentShikama commented on #187
@mindflayer I'm not sure I follow. Are you saying if you comment out the null byte send it still hangs? There are two `portal.call`s so you would have to comment out both of them.

[2022-08-23 14:26] KentShikama commented on #187
The host and port aren't set until `.connect` is called in MocketSocket. Once it hits
[code]
it is already failing. You can see the error message `type object 'Mocket' has no attribute '_address'` if you put a breakpoint there. The "hanging" after that is misleading I think.

[2022-08-23 14:27] mindflayer commented on #187
Let me share my change with you, see this [commit](https://github.com/mindflayer/python-mocket/commit/64ae8595fb06c2ff83c183fe12a48c7cb050fd80) on the branch I've just pushed.

[2022-08-23 14:32] KentShikama commented on #187
Thank for sharing! That clears it up as to what you're trying to do.

I think the null byte is fine. The problem is that the host and port aren't set yet when the null byte is written out and so the get_entry call fails. The exception is then swallowed by the context manager but you can print it out if you breakpoint at `File "/usr/lib/python3.10/contextlib.py", line 153, in __exit__`. I'm current

[2022-08-23 14:34] mindflayer commented on #187
Well, that's not a problem any more after my change. Since it's just a "ping" we don't need to worry about it. The problem is that after that nothing happens.

[2022-08-23 14:42] KentShikama commented on #187
Oh I see. The https://github.com/agronholm/anyio/blob/d9c2d9b3517e1137beb35a4a2cd56fb1af26a859/src/anyio/_backends/_asyncio.py#L961 hangs because it is waiting for the condition at `self._condition.wait(timeout)` (and the timeout by default is None).

[2022-08-23 14:48] mindflayer commented on #187
Even if we change the timeout nothing really happens.

[2022-08-23 14:50] KentShikama commented on #187
Well if you change the timeout, it certainly goes onto the next `portal.call` instead of hanging at the first one.

[2022-08-23 14:53] KentShikama commented on #187
Ok so I see the event being scheduled onto the event loop (with https://github.com/python/cpython/blob/575f8880bf8498ee05a8e197fc2ed85db6880361/Lib/asyncio/base_events.py#L781) but for whatever reason I don't see the next event loop being scheduled. I wonder if that null byte is to say that the current event loop is finished.

[2022-08-23 15:13] mindflayer commented on #187
I am not sure I understand what you mean with that. Before a `connect()` happens, a `socket` is just a socket and you have no information about its purpose.

[2022-08-23 15:20] mindflayer commented on #187
Like I said at first, the fact that this `BlockingPortal` plays with different threads is probably the root of the issues we see here, and I am sorry but I don't see a way to fix this.

[2022-08-23 15:23] mindflayer commented on #187
I want to try out something completely different, making `socket.socketpair()` returning real socket instances. Let's see what happens.

[2022-08-23 15:28] KentShikama commented on #187
Yup you're right. Pardon my stream of conscious.

Oh I like this idea. I still haven't figured out how the asyncio event loop works under the hood but it seems like it uses a socket pair (I'll call them "incoming" and "outgoing") and outside threads can write to the "outgoing" socket to wake it up. And because Mocket is mocking both the sockets but it doesn't actually send the contents of "outgoin

[2022-08-23 15:43] mindflayer commented on #187
It's a kind of magic. <3

[2022-08-23 15:54] mindflayer commented on #187
It drove me crazy, but here it is: https://pypi.org/project/mocket/3.10.8/

Feel free to `pip install mocket==3.10.8`.

[2022-08-23 15:54] #187 closed

[2022-11-26 22:35] amotl opened #191 "[mocket-3.10.x] AttributeError: type object 'Mocket' has no attribute '_address'"
Dear Giorgio,

while giving some love to [Terkin](https://github.com/hiveeyes/terkin-datalogger), and creating https://github.com/hiveeyes/terkin-datalogger/pull/116, I also wanted to report about another issue which blocked me from upgrading to `mocket-3.10.x` already.

[code]

[code]

[code]

It looks like the `_address` attribute moved to `MocketSocket`, so it can't be addressed on the `Mocket`

[2022-11-27 10:36] mindflayer commented on #191
Hi @amotl, I had a look at your project and the way you are using `mocket` is very uncommon.
You don't seem to be using its decorator nor its context manager.
Could you please help me with a snippet of code that fail the same way as your tests?
The `_address` attribute wasn't moved, this is the only recent change related to it:
https://github.com/mindflayer/python-mocket/pull/183/files#diff-bdbad6

[2022-11-27 10:59] mindflayer commented on #191
I even [see](https://github.com/hiveeyes/terkin-datalogger/blob/2438b16f424d9424bab7a2a7fd47315cca10afcb/test/fixtures/lora.py#L39) you are creating a `MocketEntry` with `(None, None`) as `location`, which makes no sense because no client would try to connect to that couple of non-existing host/port.

[2022-11-27 12:47] amotl commented on #191
Dear Giorgio,

thanks a stack for taking the time to look into this, and for discovering our irregular use of `Mocket`. I have to admit I did not look too closely when "just bumping some development dependencies" ;].

So, it appears that we will have to do our homework and review/modify our usage of `Mocket` accordingly. On that matter, I want to avoid bothering you any longer about it, and divert

[2022-11-27 15:01] mindflayer commented on #191
Nevertheless, @amotl let me know if you need any kind of support on my end, no matter if it's for something Mocket supports at the moment or not.

[2022-11-27 16:05] amotl commented on #191
Dear Giorgio,

your offer is very kind. However, I don't have any other need for help other than offering a detailed reproduction, if you are really keen enough that you would like to look directly into the issue on behalf of the code base where I have been observing it.

If you can quickly spot what I was doing wrong, and see an immediate solution, I will be more than happy. Otherwise, please don